/* sets up the appearnace of the body content */
body
{
width:100%;
height:100%;
overflow:hidden;
background: -webkit-linear-gradient(#dda5a5, #dd2020); /* For Safari */
background: -o-linear-gradient(#dda5a5, #dd2020); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#dda5a5, #dd2020); /* For Firefox 3.6 to 15 */
background: linear-gradient(#dda5a5, #dd2020); /* Standard syntax (must be last) */
font-weight:bold;
}

/* Sets up the far background on the page */
.farBackground
{
float:left;
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
background: #000000 url("farBackground.jpg")   fixed center; /* Standard syntax (must be last) */
background-repeat: repeat;
filter: alpha(opacity=50);
opacity: 0.5;
}

/* sets up the appearance of the header */
.ui.header
{
float:left;
position:fixed;
top:0px;
left:0px;
width:100%;
height:64px;
background:#3ab43a;
z-index: 1000;
border-style:solid;
border-width:1px;
border-bottom-width:3px;
border-radius:5px; 
}

/* Sets up the far background on the page */
.headerBackground
{
float:left;
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
background: #000000 url("farBackground.jpg")   fixed center; /* Standard syntax (must be last) */
background-repeat: repeat;
filter: alpha(opacity=50);
opacity: 0.5;
z-index:0;
}

/* sets up the appearance of navigation placeholder */
.header.nav
{
float:inherit;
margin-left:auto;
margin-right:auto;
right:50%;
width:100%;
text-align:center;

}


/* sets up the appearance of the navigation links */
.navigation
{ 
float:left;
position:absolute;
padding-right:5px;
text-align:center;
width:100%;
margin-left:92px;
bottom:0px;
vertical-align:bottom;
display: block;

}

.navigationLink
{
margin-left: 4px;
float:left;
position:relative;
color:#000000;
background:#ffffff;
border:1px;
bottom:0px;
border-style:solid;
border-top-width:2px;
border-bottom-width:0px;
border-color:#000000;
border-top-left-radius:5px;
border-top-right-radius:5px;
text-decoration:none;
background:#FFFFCC;
background: #000000 url("tabBackground.jpg")   fixed center;
background-position:0px 0px;
background-size:64px 32px;
z-index:100;
box-shadow:0px -4px 8px #484
}

/* highlight link when hovering over it */
.navigationLink:hover
{
filter: brightness(200%);
-moz-filter: brightness(200%);
box-shadow:0px -4px 4px #454;
color:#585
}

/* sets up the appearance of the website content */
.ui.content
{
float:left;
position:fixed;
top:0px;
right:0px;
bottom:0px;
left:0px;
margin-top:63px;
margin-bottom:32px;
margin-left:92px;
margin-right:92px;
overflow:auto;
background:#FFFFFF;
border-style:solid;
border-width:1px;
border-radius:5px;
background: -webkit-linear-gradient(#FFFFCC, #FFE0E0) url("Background.jpg") x-repeat fixed center; /* For Safari */
background: -o-linear-gradient(#FFFFCC, #FFE0E0) url("Background.jpg") x-repeat fixed center; /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#FFFFCC, #FFE0E0) url("Background.jpg") x-repeat fixed center; /* For Firefox 3.6 to 15 */
}

.contentElements
{
float:left;
position:absolute;
z-index:100;
width:100%;
height:100%;
}

.contentHeader
{
float:left;
position:relative;
top:0px;
width:100%;
height:64px;
background:#fff;
border-bottom-style:solid;
border-top-style:solid;
border-width:2px;
font-size:48px;
opacity:0.65
}

.webpageContents
{
float:left;
position:absolute;
width:90%;
top:128px;
bottom:16px;
left:5%;
border-style:solid;
border-width:3px;
border-radius:16px;
}

/* sets up the background div inside of the body content */
.background
{
float:left;
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
background: #000000 url("Background.jpg")   fixed center; /* Standard syntax (must be last) */
background-repeat: repeat;
filter: alpha(opacity=50);
opacity: 0.5;
}

/* sets up the appearance of the footer */
.ui.footer
{
float:left;
position:absolute;
position:fixed;
left:0px;
height:32px;
bottom: 0px;
width:100%;
background:#3ab43a;
z-index:999;
border-style:solid;
border-width:1px;
border-top-width:3px;
border-radius:5px;
}

/* Sets up the footer background on the page */
.footerBackground
{
float:left;
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
background: #000000 url("farBackground.jpg")   fixed center; /* Standard syntax (must be last) */
background-repeat: repeat;
filter: alpha(opacity=50);
opacity: 0.5;
z-index:0;
}

/* sets up the appearance of the footer content */
.footer.content
{
text-align:center;
color:#ffffff;
}

/* Modifies the way that text headers look on the page */
h1
{
text-align:center;
font-size:32px;
}

/* Modifies the way that paragraphs look on the page */
p
{
font-align:left;
font-size:16px;
}

/* modifies the dialogs for the Sign Up Form */
.form
{
float:left;
position:fixed;
left:25%;
right:25%;
bottom:25%;
top:25%;
margin-right:auto;
margin-left:auto;
margin-top:auto;
margin-bottom:auto;
border-style:solid;
border-width:3px;
border-color:#000000;
border-radius:16px;
background:#da4d4d;
opacity:0.75;
box-shadow: 0px 0px 24px #000;
}

/* sets up the background div inside of the form */
.formBackground
{
float:left;
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
background: #000000 url("Background.jpg")   fixed center; /* Standard syntax (must be last) */
background-repeat: repeat;
filter: alpha(opacity=50);
opacity: 0.3;
}

.handle
{
top:0px;
width:100%;
height:32px;
font-size:14px;
font-weight:bold;
text-align:center;
border-top-left-radius:16px;
border-top-right-radius:16px;
background:#aad8aa;
border-bottom-style:solid;
border-bottom-width:4px;
border-color:#00d700
}

.formContent
{
float:left;
position:absolute;
bottom:32px;
right:16px;
left:16px;
top:36px;
background:#77cc77;
border-bottom-left-radius:16px;
border-bottom-right-radius:16px;
border-style:solid;
border-top-style:none;
border-width:2px;
border-color:#000000;
overflow:auto;
}

.formText
{
width:100%;
text-align:center;
height:32px;
overflow:auto;
}

.names
{
float:left;
position:absolute;
top:0px;
overflow:auto;
width:100%;
height:256px;
background:#fdd;
opacity:0.7;

}


.childName
{
float:left;
position:relative;
margin-top:24px;
width:75%;
height:32px;
right:25%;
left:12%;
border-radius:16px;
box-shadow:0px 0px 4px #000;
z-index:100;
border-top-style:solid;
border-width:4px;
}

.childNameBox
{
float:left;
position:relative;
top:0px;
width:100%;
height:100%;
border-radius:16px;
text-align:center;
}

.childrenCount
{
float:left;
position:absolute;
margin-top:256px;
}

.gender
{
float:left;
position:relative;

width:100%;
height:64px;
z-index:100;
}

.parentInformation
{
float:left;
position:absolute;
top:320px;
height:256px;
width:100%;
background:#fdd;
opacity:0.7
}

.wishes
{
float:left;
position:relative;
margin-left:50%;
width:45%;
height:96px;
z-index:100;
border-radius:16px;
}

.parentName
{
width:75%;
margin-left:12%;
height:32px;
border-radius:16px;
box-shadow:0px 0px 8px #000;
}

.Number
{
width:75%;
margin-left:12%;
margin-top:16px;
height:32px;
border-radius:16px;
box-shadow:0px 0px 8px #000;
}

.Address
{
width:75%;
margin-left:12%;
margin-top:16px;
height:32px;
border-radius:16px;
box-shadow:0px 0px 8px #000;
}

.submitField
{
float:left;
position:absolute;
bottom:8px;
left:16px;
right:16px;
height:24px;
background:#eed;
opacity:0.8;
border-radius:16px;
}

.signupButton
{
float:left;
position:absolute;
right:0px;
width:64px;
height:100%;
border-radius:16px;
background:#000;
color:#fff
}