/* Stylesheet for Volunteer.html page */

#heading {
font-size: 36px;
text-align: center;
}

#description {
font-size: 22px;
text-align: center;
}

#hours {
font-size: 22px;
text-align: center;
}

img {
bottom: 5px;
display: block;
margin-left: auto;
margin-right: auto;
position: absolute;
right: 455px;
}